.cell {
  all: initial;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

.grid {
  max-width: 156px;
  border: 1px solid black;
  display: flex;
  flex-flow: wrap;
  margin: 20px auto;
  text-align: center;
}

.font {
  text-align: center;
  font-size: 35px;
  font-family: sans-serif;
}

.red {
  color: red;
}

.blue {
  color: royalblue;
}

.msg {
  color: black;
}
